fastapi
uvicorn

langchain
langgraph

qdrant-client

google-genai
google-generativeai

openai

redis
psycopg2-binary

tavily-python
trafilatura

python-dotenv

pydantic
pydantic-settings

pymupdf
pandas
python-docx
python-pptx

openpyxl

python-multipart

loguru